---
import ContentSectionBand from './ContentSectionBand.astro';

export interface Props {
    title: string;
	headerImage?: ImageMetadata;
    withHeaderTag?: boolean;
    maxWidth?: string;
    sectionType?: string;
}

const { headerImage, title, withHeaderTag = true, maxWidth = 'max-w-prose', sectionType } = Astro.props;
---
<section id={title.toLocaleLowerCase()}>
    {headerImage && <ContentSectionBand {headerImage} {title} asHeaderTag={withHeaderTag} {sectionType} />}
    <div class={`py-12 px-4 [&_>_p]:mb-6 ${maxWidth} mx-auto`}>
        {(!withHeaderTag || !headerImage) && <h2 class="font-sans text-center text-3xl mb-12">{title}</h2>}
        <slot />
    </div>
</section>
